/* styles.css */
.particle-container {
  display: none; /* Initially hide the ParticleComponent */
}

@media (min-width: 1024px) {
  .particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block; /* Display the ParticleComponent on wide screens */
  }
}
