.image img {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  /* max-width: fit-content; */
}

.product-container {
  display: flex;
  /* flex-wrap: wrap; */
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
  padding: 0 80px;
}

.add-items {
  display: flex;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-container h4 {
  color: #000;

  font-family: ABeeZee;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-container span {
  color: #464646;

  font-family: ABeeZee;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-container h1 {
  color: #414141;

  font-family: ABeeZee;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.add-items {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.add-items button {
  background-color: #d9d9d9;
  font-size: 20px;
}

.btn {
  color: #fff;
  display: flex;
  width: 263px;
  height: 50px;
  padding: 9px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: linear-gradient(225deg, #2d2f84 0%, #662e91 100%);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
