.section6 {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  margin: 50px;
  gap: 20px;
}
.section6 h1 {
  font-size: 40px;
  font-weight: 500;

  margin: 3rem -1rem 2rem -3rem;
}
.section6 h1 span {
  color: rebeccapurple;
}

.section6 .cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 10px;
  margin: 0px 30px;
}
.section6 .card {
  position: relative;
  background: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-radius: 10px;
  width: 350px;
  height: 350px;
}
.section6 .card img {
  position: absolute;
  top: 50px;
  max-height: 120px;
  border-radius: 50%;
}
.section6 .card .text {
  align-items: center;
  justify-content: center;
  width: 70%;
  color: black;
  text-wrap: justify;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.section6 .card h2 {
  margin: 130px auto 5px;
}
.section6 .card p {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  /* padding: 6px; */
}

.card:hover {
  background: linear-gradient(#2e2f84, #652e91);
}

.card:hover .text {
  color: white;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .section6 .card .left,
  .section6 .card .right {
    width: 100%; /* Full width for both elements */
    /* Remove border radius for stacked elements */
    border-radius: 0 8px 8px 0;
  }
  .section6 .card img {
    max-width: 80%; /* Ensure images are responsive */
    height: 100%;
  }
  .section6 .card h1 {
    font-size: 1.9vw;
  }
  .section6 .card p {
    font-size: 2.3vw;
  }
  .section6 .card h2 {
    margin-top: 8em;
  }
}

@media (min-width: 300px) and (max-width: 550px) {
  .section6 h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 40px -60px;
    padding: 0 10px;
  }
  .section6 {
    display: flex;
    flex-direction: column;
    padding: 0 90px;
    /* margin: 50px; */
    gap: 20px;
  }
}
@media (min-width: 461px) and (max-width: 665px) {
  .section6 {
    font-size: 0.6rem;
    margin-top: 1rem;
    padding: 0 5em;
    align-items: center;
  }
}

/* Responsive Design */
@media (min-width: 650px) and (max-width: 768px) {
  .section6 .card h2 {
    margin-top: 10em;
  }
  .section6 .card p {
    font-size: 0.7em;
    font-weight: 600;
  }
}

/* for mobile devices  */
@media (max-width: 462px) {
  .section6 {
    font-size: 0.6rem;
    margin-top: 1rem;
    padding: 0 5em;
    align-items: center;
  }
  .section6 h1 {
    font-size: 1.7rem;
    text-align: start;
    font-weight: 400;
  }

  .section6 .card p {
    font-size: 0.7em;
    font-weight: 400;
  }
  .section6 .card h2 {
    margin-top: 8em;
  }
}

@media (min-width: 462px) and (max-width: 905px) {
  .section6 {
    margin-top: 1rem;
    padding: 0 6.2em;
    align-items: center;
  }
  .section6 h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
  }
}
