.section1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
  /* height: 90vh; */
}
.section1 .top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  margin-top: 60px;
}
.top .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 0;
  padding-bottom: 10px;
}
.left h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}
.left .element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 0;
}
.left p {
  font-size: 1.1rem;
  font-weight: 600;
}
.btn {
  display: flex;
  gap: 20px;
  margin: 25px 0px;
}
.left button {
  margin: 15px 0px 20px;
  outline: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 40px;
  border-radius: 50px;
  cursor: pointer;
}
.btn1 {
  outline: none;
  border-radius: 50px;
  border: 2px solid rebeccapurple;
  color: rebeccapurple;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn1:hover {
  background: linear-gradient(#2e2f84, #652e91);
  color: #ededed;
}

.btn2 {
  outline: none;
  border-radius: 50px;
  border: 2px solid rebeccapurple;
  color: rebeccapurple;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn2:hover {
  background: linear-gradient(#2e2f84, #652e91);
  color: #ededed;
}

.top .right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.section1 .bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 93px;
  padding-inline: 100px;
  /* margin-top: 10px; */
}
.bottom .ic_text {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.bottom .ic_text img {
  height: 16px;
  width: 16px;
}
.bottom .ic_text .ios_and_ic {
  width: 44px;
}
.bottom p {
  color: #797979;
  font-size: 1.2rem;
  font-weight: 500;
}

.right img {
  border-radius: 30px;
  max-height: 300px;
}

/* Responsive styles for smaller screens */
@media (max-width: 950px) {
  .right img {
    max-width: 60vw;
  }
}

/* Responsive styles for smaller screens */
@media (min-width: 769px) and (max-width: 950px) {
  .left h1 {
    font-size: 3rem; /* Decrease font size for smaller screens */
  }
  .top .right {
    justify-content: center;
    align-items: center;
  }
  .right img {
    width: 370px;
    height: 230px;
  }
  .section1 .bottom {
    gap: 20px;
  }
  .left button {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 0.5rem 1.7rem;
  }
}
@media screen and (max-width: 768px) {
  .section1 {
    padding: 0 80px;
    margin-top: -2em;
  }
  .section1 .top {
    padding: 0;
  }

  .top .left {
    width: 100%;
    /* align-items: center; */
    gap: 5px;
    margin-top: 25px;
    text-align: center;
  }
  .left h1 {
    margin: 20px 0;
    font-size: 2.2rem; /* Decrease font size for smaller screens */
  }

  .left .btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: center;
  }
  .section1 .bottom {
    display: none;
  }
  .right img {
    max-width: 50vw;
  }
}

@media (max-width: 1078px) {
  .section1 .top {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 514px) {
  .left .btn {
    display: flex;
    gap: 0.5em;
  }
  .left button {
    font-size: 0.6rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 0.5rem 1.7rem;
  }
}

/* for mobile devices  */
@media (max-width: 462px) {
  .section1 {
    padding: 0 3em;
    display: flex;
    flex-direction: column-reverse;
  }
  .section1 .top {
    flex-direction: column-reverse;
  }
  .left h1 {
    text-align: start;
  }

  .left p {
    text-align: start;
  }
  .left .btn {
    justify-content: start;
  }
  .right img {
    max-width: 80vw;
  }
}
