.section3 {
  display: flex;
  padding: 0 100px;
  flex-direction: column;
  margin-top: 50px;
}
.section3 h1 {
  margin: 3rem 0 2rem 0;
  font-size: 40px;
  font-weight: 500;
}
.section3 h1 span {
  color: rebeccapurple;
}
.cards {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  gap: 3em;
  justify-content: center;
  margin-top: 12px;
}
.cards .card {
  display: flex;
  flex-wrap: wrap;
  /* width: 30%; */
  border-radius: 8px;
  /* max-width: 900px; */
}
.card .cardImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
  /* background-color: white; */
  border-radius: 12px;
}
.card img {
  width: 350px;
}
.cardInfo h2 {
  margin: 15px 10px 5px;
  font-size: 20px;
  font-weight: 550;
}
.cardInfo .price {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 10px;
  font-size: 16px;
}
.price p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 768px) {
  .section3 {
    padding: 0 80px;
    margin-top: -200px;
  }
}

@media (min-width: 768px) and (max-height: 900px) {
  .section3 {
    padding: 0 80px;
    margin-top: -15em;
  }
}
@media (min-width: 900px) {
  .section3 {
    padding: 0 80px;
    margin-top: 0em;
  }
}

@media (max-width: 768px) {
  .section3 {
    padding: 0 80px;
    margin-top: -15em;
  }
  .section3 h1 {
    margin: auto;
    font-size: 32px;
    text-align: center;
  }
  .section3 .cards {
    gap: 10px;
  }
  .section3 .card {
    margin: auto;
  }
}
@media (max-width: 570px) {
  .cards {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1078px) {
  .section3 h1 {
    margin: 0.5em 0;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .section3 {
    padding: 0 80px;

    align-items: center;
  }
}

/* for mobile devices  */
@media (max-width: 462px) {
  .section3 {
    padding: 0 3em;
    margin-top: -14rem;
  }
  .section3 h1 {
    text-align: center;
    font-size: 1.6rem;
  }
  .cards {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 853px) and (max-width: 913px) {
  .cards {
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-top: 1rem;
  }
}
/* responsive for tab */
@media (min-width: 905px) and (max-width: 1078px) {
  .cards {
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: center;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 905px) {
  .section3 {
    margin-top: -14rem;
  }
}
