.aboutUsSection {
  margin-top: 60px;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: -60px;
}
@media (min-width: 300px) and (max-width: 850px) {
  .aboutUsSection {
    margin-top: 60px;
    padding: 0px 55px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: -60px;
  }
}

.aboutUsSection .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutUsSection .about h1 {
  font-size: 64px;
  margin: 0;
}

.aboutUsSection .about h1 span {
  color: rebeccapurple;
}

.aboutUsSection .about p {
  color: #2d2d2d;
  font-size: 22px;
}

.aboutUsSection .vision {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutUsSection .vision h2 {
  font-size: 30px;
  margin: 0;
  color: #3b3b3b;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutUsSection .vision p {
  color: #2d2d2d;
  font-size: 22px;
}

.aboutUsSection .mission {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutUsSection .mission h2 {
  font-size: 30px;
  color: #3b3b3b;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutUsSection .mission p {
  color: #2d2d2d;
  font-size: 22px;
}
