<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Simotap App </title>
</head>
<body>
    <h1>Simotap App</h1>

    <div class="">
        <%=user.name%>,<p>
            hello sir thanks for registering in 
            simotap app
        </p>

        <p> if you havent register in Roshan tech then kindly ignore please </p>
        
        


    </div>
    
</body>
</html>